@import 'src/style/variable.scss';

.header {
  width: 100%;
  height: 100px;

  &__wrap {
    display: grid;
    grid-template: 1fr/ 1fr auto auto;
    align-items: end;
    width: 100%;
    height: 100%;
  }
}

.navbar {
  &__wrap {
    border-right: 1px solid var(--gray);
    margin-right: 25px;
  }

  &__block {
    display: flex;

    li {
      padding-right: 25px;
      p {
        cursor: pointer;
        display: inline-block;
        color: var(--gray);
        &:hover {
          color: var(--grayold);
        }
      }
    }
    li:first-child {
      p {
        color: var(--grayold);
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--green3);
        }
      }
    }
  }
}

.logo {
  &__text {
    font-size: 40px;
    font-weight: 600;
    display: flex;
  }
  span {
    display: block;
  }
  span:nth-child(2) {
    transform: rotate(90deg);
    padding: 0 5px;
  }
}

.accoutmenu {
  &__wrap {
    display: flex;
    width: 100%;
    position: relative;
    user-select: none;
  }
  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__login {
    padding-right: 10px;
  }
  &__icon {
    width: 15px;
    height: 15px;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: var(--oldgrey);
  }
}

.menublock {
  position: absolute;
  width: 120px;
  top: 40px;
  left: -50%;
  background: rgb(246, 246, 246);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.266);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear 0s;
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    &:hover {
      background: var(--green3);
    }
  }
}

.accoutmenu {
  &__wrap.add {
    .menublock {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media screen and (max-width: $mw3 + px) {
  .header {
    height: 130px;
    &__wrap {
      grid-template: 1fr auto/ 1fr auto auto;
      grid-row-gap: 20px;
    }
  }

  .navbar {
    grid-column: 1/2;
    grid-row: 2/3;

    &__wrap {
      border-right: none;
      margin-right: 0;
    }
  }
  .accoutmenu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (max-width: $mw4 + px) {
  .header {
    height: 80px;
    &__wrap {
      grid-template: 1fr/ 1fr auto;
      grid-row-gap: 0px;
    }
  }

  .navbar {
    display: none;
  }

  .logo {
    &__text {
      font-size: 25px;
    }
  }

  .menublock {
    position: absolute;
    width: 100px;
  }
}
